<div class=" container  py-5 my-5">
    <form [formGroup]="azurirajForm" (ngSubmit)="AzurirajAuto()">
        <div class="form-group row sam-div">
            <label for="marka" class="col-sm-2 col-form-label">Marka</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="marka" placeholder="Marka"
              formControlName="marka">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="model" class="col-sm-2 col-form-label">Model</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="model" placeholder="Model"
              formControlName="model">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="broj_sedista" class="col-sm-2 col-form-label">Broj sedišta</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="broj_sedista" placeholder="Broj sedišta"
              formControlName="broj_sedista">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="snaga_motora" class="col-sm-2 col-form-label">Snaga motora</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="snaga_motora" placeholder="Snaga motora"
              formControlName="snaga_motora">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="gorivo" class="col-sm-2 col-form-label">Gorivo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="gorivo" placeholder="Gorivo"
              formControlName="gorivo">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="klima" class="col-sm-2 col-form-label">Klima</label>
            <div class="col-sm-10 pd-10 cntr">
              <input type="checkbox" id="klima" formControlName="klima">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="registracija" class="col-sm-2 col-form-label">Registracija</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="registracija" placeholder="Registracija"
              formControlName="registracija">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="tip" class="col-sm-2 col-form-label">Tip</label>
            <div class="col-sm-10">
                <select class="form-control" id="tip" formControlName="tip">
                    <option value="-1">Tip</option>
                    <option *ngFor="let tip of tipoviAuto">{{tip}}</option>
                  </select>
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="transmisija" class="col-sm-2 col-form-label">Transmisija</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="transmisija" placeholder="Transmisija"
              formControlName="transmisija">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="godiste" class="col-sm-2 col-form-label">Godište</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="godiste" placeholder="Godište"
              formControlName="godiste">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="dodatno_osiguranje" class="col-sm-2 col-form-label">Dodatno osiguranje</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="dodatno_osiguranje" placeholder="Dodatno osiguranje"
              formControlName="dodatno_osiguranje">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="cena" class="col-sm-2 col-form-label">Cena</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="cena" placeholder="Cena"
              formControlName="cena">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="slika" class="col-sm-2 col-form-label">Slika</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="slika" placeholder="Slika"
              formControlName="slika">
            </div>
          </div>
          <div class="form-group row sam-div">
            <label for="lokacija" class="col-sm-2 col-form-label">Lokacija</label>
            <div class="col-sm-10">
                <select class="form-control" id="lokacija" formControlName="lokacija">
                    <option value="-1">Lokacija</option>
                    <option *ngFor="let lokacija of lokacije">{{lokacija}}</option>
                  </select>
            </div>
          </div>
          <div class="form-group row sam-div">
            <div class="col-sm-10">
              <button [disabled]="!azurirajForm.valid"
              type="submit" class="btn btn-outline-primary dugme">Ažuriraj</button>
              <button type="button" class="btn btn-outline-warning" (click)="odustani()">
                Odustani</button>
            </div>
          </div>
    </form>
    </div>