<!-- pricing section start  -->
<section id="pricing">
    <div class=" container  py-5 my-5">
        <h2 class=" text-center my-5">Pogledajte naš <span class="text-primary">izbor osiguranja</span> </h2>

        <!-- <div class="d-flex justify-content-center">
            <label class="pt-2" id="monthly-label">Monthly</label>
            <span class="form-check form-switch p-0">
                <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                    checked>
                <label class="pt-2" id="yearly-label" for="flexSwitchCheckChecked">Yearly</label>
            </span>
        </div> -->


        <div class="row py-4">
            <!-- <div class="  col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-lable pt-5 ">
                    <div class="pt-3 ps-2">
                        <h3>Save by choosing our best plan</h3>
                        <p>Choose our best plan to save a lot.</p>
                    </div>

                    <iconify-icon class="pricing-lable-icon "
                        icon="fluent:vehicle-car-profile-ltr-20-regular"></iconify-icon>


                </div>
            </div> -->

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Basic</h5>

                        <div class="content monthly pt-2">
                            <h3>0rsd</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ Zaštita od sudara i krađe</p>
                            <!-- <p>✓ Lorem ipsum dolor</p>
                            <p>✓ Vivamus velit mir</p>
                            <p>✓ Velit mir</p>
                            <p>✓ Elit mir ivamus</p> -->
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary" routerLink="/rezervacija" (click)="izaberi('1')">Izaberi </button>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5 style="color:#0275d8 ">All Inclusive</h5>
                        <div class="content monthly pt-2">
                            <h3>{{osiguranje}}rsd dnevno</h3>
                            <h3>Ukupno: {{ukupna_cena}}rsd</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ Zaštita od sudara i krađe</p>
                            <p>✓ Zaštita vetrobrana, stakla, svetala i guma</p>
                            <p>✓ Lična zaštita od nezgoda</p>
                            <p>✓ Zaštita ličnih stvari</p>
                            <!-- <p>✓ Lorem ipsum dolor</p> -->
                            <!-- <p>✓ Ipsum dolor</p> -->
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary" routerLink="/rezervacija" (click)="izaberi('2')">Izaberi </button>
                    </div>
                </div>
            </div>
<!-- 
            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Pro</h5>
                        <div class="content monthly pt-2">
                            <h3>$70.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3>$840.30</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ Quisque rhoncus</p>
                            <p>✓ Lorem ipsum dolor</p>
                            <p>✓ Vivamus velit mir</p>
                            <p>✓ Elit mir ivamus</p>
                            <p>✓ Ivamus mir vamus</p>
                            <p>✓ Quisque rhoncusr</p>
                            <p>✓ lit mir iamus</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary">Choose Plan </button>
                    </div>
                </div>
            </div> -->


        </div>


    </div>
</section>