<!-- pricing section start  -->
<section id="pricing">
    <div class=" container  py-5 my-4">
        <h2 class=" text-center my-5">Pogledajte naš <span class="text-primary">izbor osiguranja</span> </h2>

        <div class="row justify-content-center py-2">
            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Basic</h5>

                        <div class="content monthly pt-2">
                            <h3>0rsd</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ Zaštita od sudara i krađe</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary" routerLink="/rezervacija" (click)="izaberi('1')">Izaberi </button>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5 style="color:#0275d8 ">All Inclusive</h5>
                        <div class="content monthly pt-2">
                            <h3>{{osiguranje}}rsd dnevno</h3>
                            <h3>Ukupno: {{ukupna_cena}}rsd</h3>
                        </div>

                        <div class="pt-4">
                            <p>✓ Zaštita od sudara i krađe</p>
                            <p>✓ Zaštita vetrobrana, stakla, svetala i guma</p>
                            <p>✓ Lična zaštita od nezgoda</p>
                            <p>✓ Zaštita ličnih stvari</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary" routerLink="/rezervacija" (click)="izaberi('2')">Izaberi </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>